h1{
  font-size: 88px;
  text-align: center;
}
body {
  background-color: #cccccc;
}
p.am{
  text-align: centre;
}
.image1{
  border:8px solid blue;
  width: 500px;
  padding-left: 5px;
  margin-left: 300px;
}
.education{
  border: 8px solid green;
  float: left;
  font-size: 20px;
  color: white;
}
