h1{
  font-size: 72px;
  text-align: center;
  padding-top: 55px;
  color: steelblue;
}
.text{
  font-size: 60px;
  text-align: center;
  color: skyblue;
}
.image{
  margin-left: 200px;

}

}
.nav{
  display: block;
}
ul {
display: block;
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #f1f1f1;
}
li a{
  display: block;
  padding:14px 18px;
  text-align: left;
  text-decoration: none;
}
li{
  float: left;
}
.active {
  background-color: #4CAF50;
}
img{
  opacity: 0.5;
 filter: alpha(opacity=50); /* For IE8 and earlier */
}

.image{
  padding: 0 6px;
  float: left;
    width:24.9999%;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    .image {
        width: 49.9999%;
        margin: 6px 0;

    }
}
@media screen and (min-width: 768px) {
  .image {
  }
  .column {
    width: 100%;

  }
}
body{

  background-size: cover;
}
.ref{
  border:8px solid yellow;
  float: left;
  color: grey;
  height: 800px;
  width: 700px;
  display: block;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 22px;
  padding: 10px;

}
.blu{
  font-size: 20px;
  color: white;
  align-items: baseline;
  border: 8px solid green;
  float: left;
  width: 800px;


}
.work{
  border:6px solid blue;
  float: right;
  width: 500px;
  height: 800px;
  font-size: 20px;
  color: white;
  padding-right: 2px;
  margin-left: 2px;
}
.contact{
  align-items:center;

}
