h1{
  font-size: 72px;
  text-align: center;
  padding-top: 55px;
  color: steelblue;
}
.text{
  font-size: 60px;
  text-align: center;
  color: skyblue;
}
.image{
  margin-left: 200px;

}
footer{
  text-align: center;
}
